@charset "UTF-8";

main {        
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;          
}

#atrativos {        
    max-width: 1180px;  
    position: relative;
    column-count: 4;    
    top: -80px;
    left: 50%;  
    transform: translate(-50%, 0%);  
}

#atrativos h3 {      
    background-color: #FFC107;
    color: white;
    height: 150px;  
    text-align: center;
    font-size: 24px;
    padding: 20px 0px;
    border-radius: 5px;    
}

#atrativos h3 i {
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 25px;
    text-shadow: 1px 1px 1px black;
}

#atrativos h3 p {
    text-shadow: 1px 1px 1px black;
}

#sobre {        
    margin-right: 20px;        
}

#sobre h2 {
    font-size: 40px;
    margin-bottom: 30px;   
}

#texto {    
    float: left;
    height: 80%;
    width: 48.5%;    
}

#texto p {
    margin: 15px 0px;        
}

#imagem #chef {    
    float: right;
    max-width: 400px;    
}

#nome-chef {
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    font-family: var(--fonte4);
}

#destaques {    
    display: flex;
    justify-content: space-between;
    font-family: var(--fonte3);
    color: #FFC107;
    margin-right: 30px;
    margin-top: 20px;   
}

.rank {    
    font-size: 40px;
}

#top {    
    width: 130px;
    text-align: center;
}

#feedback {           
    width: 150px;
    text-align: center;
}

#premios {    
    width: 80px;
    text-align: center;
}

/* CARDAPIO */

#header-cardapio {
    margin-top: 650px;
}

#menu {



}

#cardapio {
    margin-right: 20px;

    column-count: 2;
    
    
}

#cardapio .burguer {
    width: 125px;
    height: 125px;
    
}

#cardapio .pratos {
    
    
    display: flex;
    
    height: 200px;

    margin-left: 20px;
    margin-bottom: 40px;
    
}

#cardapio .pratos .conteudo {

    margin-left: 10px;    
}

#cardapio .pratos .conteudo .nome-preco {
    display: grid;
    grid-template-columns: 1fr 100px;
}

#cardapio .pratos .conteudo
.linha-pontilhada {
    width: 100%;
    outline: 1px dashed white;

    
}

#cardapio .pratos h2 {   
    font-size: 20px;   

}

#cardapio .pratos h3 {
    
    font-size: 18px;
  
    text-align: right;
}

#cardapio .pratos p {
    

    
    text-indent: 20px;
}

@media (max-width: 1000px) {
    #cardapio .pratos .conteudo .nome-preco {
        background-color: blueviolet;
        grid-template-columns: 1fr;
    }

    #cardapio .pratos h3 {
        text-align: left;
    }
    
}



#avaliacoes {
    margin-top: 200px;
    background-color: aqua;
    color: blueviolet;
}

@media screen and (max-width: 850px) {   

    #atrativos {
        column-count: 2;  
        top: -50px;           
    }

    #atrativos h3 {
        margin-bottom: 20px;
    }

    #sobre {   
        
        margin-right: 0px;       
    }
    
    #sobre h2 {
        font-size: 40px;
        padding-bottom: 20px;
    }
    
    #texto {
       
        float: left;
        height: 80%;
        width: 100%;
            
    }
    
    #texto p {
        padding: 15px 0px;
        
    }
    
    #imagem {
        text-align: center;
    }

    #imagem #chef {        
        float: none;        
        max-width: none;
        width: 300px;
        background-color: blueviolet;
    }
    
    #nome {
        padding-top: 10px;
    }
      
    #nome-chef {
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        font-family: var(--fonte4);
    }

    #destaques {
    
        display: flex;
        justify-content: space-evenly;
        font-family: var(--fonte3);
        color: #FFC107;
        padding-right: 30px;
        padding-top: 40px;
        padding-bottom: 60px;
    }
    
    .rank {
        
        font-size: 40px;
    }
    
    #top {
        
        width: 130px;
        text-align: center;
    }
    
    #feedback {        
        
        width: 150px;
        text-align: center;
    }
    
    #premios {
        
        width: 80px;
        text-align: center;
    }
    
    #header-cardapio {
        margin-top: 350px;
    }
    
    #menu {
        
        background-color: crimson;
       
    }

    #cardapio {
        column-count: 1;
        
    }

    
}


@media screen and (max-width: 650px) {

    #atrativos {
        column-count: 2;            
    }

    #cardapio {
        margin-top: 50px;
        
    }
}