@charset "UTF-8";

#imagem-fundo {
    height: 100vh;
    
    background-image: url(imagens/pexels1.jpg);
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;       
}

main {
    margin: 0px 85px;
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: italic;     
    color: white;   
  }
  

#atrativos {
    
    width: 100%;
    position: absolute;
    column-count: 4;
    top: 85%;
    
    
}

#atrativos h3 {     
    background-color: #FFC107;
    height: 150px;
    margin: 0px 10px;

    
    text-align: center;
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    
}

#atrativos h3 i {
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-shadow: 1px 1px 1px black;
}

#atrativos h3 p {
    text-shadow: 1px 1px 1px black;
}

#sobre {
    padding-top: 100px;
}
