@charset "UTF-8";

#imagem-fundo {
    height: 100vh;
    
    background-image: url(imagens/pexels1.jpg);
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;       
}

main {
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: italic;     
    color: white;   
  }
  
#imagem-fundo {
    display: flex;    
}  

#imagem-fundo h2 {
    font-size: 40px;
    padding: 200px 50px;   
}

#atrativos {
    
    width: 100%;
    position: absolute;
    column-count: 4;
    top: 85%;
    
    
}

#atrativos h3 {     
    background-color: #FFC107;
    height: 150px;
    margin: 0px 10px;

    text-align: center;
    padding: 20px;
}

#sobre {
    padding-top: 100px;
}
